/*
    Mobile Menu Core Style
*/

.slicknav_btn { position: relative; display: block; vertical-align: middle; float: right; padding: 0.438em 0.625em 0.438em 0.625em; line-height: 1.125em; cursor: pointer; }
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: right; }
.slicknav_menu .slicknav_icon { float: right; margin: 0.188em 0.438em 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow {float: right;width: 11px;height: 7px;}
.slicknav_nav .slicknav_arrow .close{width: 11px;height: 7px;background: url(../images/dd_down.png) center no-repeat;display: block;margin-top: 6px;}
.slicknav_nav .slicknav_arrow .open{width: 11px;height: 7px;background: url(../images/dd_up.png) center no-repeat;display: block;margin-top: 6px;}
.slicknav_nav .slicknav_item { display: block; cursor: pointer; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
/* IE6/7 support */
.slicknav_menu { *zoom: 1 }

/* 
    User Default Style
    Change the following styles to modify the appearance of the menu.
*/

.slicknav_menu {
	font-size:16px;
}
/* Button */
.slicknav_btn {
	text-decoration:none;	
	background-color: #e3e4e3;
  	width: 100%;
}
/* Button Text */
.slicknav_menu  .slicknav_menutxt {	
	color: #747474;	
}
/* Button Lines */
.slicknav_menu .slicknav_icon-bar {
  background-color: #747474;
}
.slicknav_menu {
}
.slicknav_nav {
	background: #f6f6f6;
	color:#606060;
	margin:0;	
	padding:0;
	font-size:0.875em;
}
.slicknav_nav, .slicknav_nav ul {
	list-style: none;
	overflow:hidden;
}
.slicknav_nav ul {
	padding:0;
	margin:0;
}

.slicknav_nav li.first_item .menu_link {
	padding: 6px 20px;
}

.slicknav_nav .slicknav_item {
	padding: 6px 20px;
}
.slicknav_nav a{
	text-decoration:none;
	color:#606060;
}
.slicknav_nav .slicknav_item a {
	padding:0;
	margin:0;
}
.slicknav_nav li.first_item .menu_link:hover {
	background:#949da1;
	color:#fff;	
}
.slicknav_nav .slicknav_item:hover {
	background:#949da1;
	color:#fff;	
}
.slicknav_nav a:hover{
	color:#fff;
}
.slicknav_nav .slicknav_txtnode {
     margin-left:15px;   
}



.slicknav_nav li+ li{border-top: 1px solid #d1d1d1;}
.slicknav_nav ul li a{color: #606060;padding: 6px 20px;}
.slicknav_nav ul li:hover a{background: #949DA1 ;color: #fff;}

.slicknav_open > a{background:#949da1;color:#fff;	}
.slicknav_open > a a, .slicknav_open > a > a {color: #fff !important;}

.slicknav_open > ul {
	background: #fefefe;
}